body {
    margin: 0 30px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 30px; */
}
header ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
}
header ul li {
    padding: 0 15px;
}
header ul li a{
    text-decoration: none;
    color: gray;
}
header ul li a.active{
    color: black;
}